[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "approximator"]
	path = approximator
	url = https://github.com/cran/approximator
[submodule "BACCO"]
	path = BACCO
	url = https://github.com/robinhankin/bacco
[submodule "Brobdingnag"]
	path = Brobdingnag
	url = https://github.com/robinhankin/brobdingnag
[submodule "calibrator"]
	path = calibrator
	url = https://github.com/robinhankin/calibrator
[submodule "clifford"]
	path = clifford
	url = https://github.com/robinhankin/clifford
[submodule "cmvnorm"]
	path = cmvnorm
	url = https://github.com/robinhankin/cmvnorm
[submodule "contfrac"]
	path = contfrac
	url = https://github.com/robinhankin/contfrac
[submodule "Davies"]
	path = Davies
	url = https://github.com/robinhankin/davies
[submodule "disordR"]
	path = disordR
	url = https://github.com/robinhankin/disordr
[submodule "elliptic"]
	path = elliptic
	url = https://github.com/robinhankin/elliptic
[submodule "emulator"]
	path = emulator
	url = https://github.com/robinhankin/emulator
[submodule "frab"]
	path = frab
	url = https://github.com/robinhankin/frab
[submodule "freealg"]
	path = freealg
	url = https://github.com/robinhankin/freealg
[submodule "freegroup"]
	path = freegroup
	url = https://github.com/robinhankin/freegroup
[submodule "gsl"]
	path = gsl
	url = https://github.com/robinhankin/gsl
[submodule "hyper2"]
	path = hyper2
	url = https://github.com/robinhankin/hyper2
[submodule "hypergeo"]
	path = hypergeo
	url = https://github.com/robinhankin/hypergeo
[submodule "jordan"]
	path = jordan
	url = https://github.com/robinhankin/jordan
[submodule "knotR"]
	path = knotR
	url = https://github.com/robinhankin/knotr
[submodule "lorentz"]
	path = lorentz
	url = https://github.com/robinhankin/lorentz
[submodule "magic"]
	path = magic
	url = https://github.com/robinhankin/magic
[submodule "MM"]
	path = MM
	url = https://github.com/robinhankin/mm
[submodule "multipol"]
	path = multipol
	url = https://github.com/cran/multipol
[submodule "multivator"]
	path = multivator
	url = https://github.com/robinhankin/multivator
[submodule "mvp"]
	path = mvp
	url = https://github.com/robinhankin/mvp
[submodule "Oarray"]
	path = Oarray
	url = https://github.com/robinhankin/oarray
[submodule "onion"]
	path = onion
	url = https://github.com/robinhankin/onion
[submodule "partitions"]
	path = partitions
	url = https://github.com/robinhankin/partitions
[submodule "permutations"]
	path = permutations
	url = https://github.com/robinhankin/permutations
[submodule "ResistorArray"]
	path = ResistorArray
	url = https://github.com/robinhankin/resistorarray
[submodule "spray"]
	path = spray
	url = https://github.com/robinhankin/spray
[submodule "stokes"]
	path = stokes
	url = https://github.com/robinhankin/stokes
[submodule "untb"]
	path = untb
	url = https://github.com/robinhankin/untb
[submodule "weyl"]
	path = weyl
	url = https://github.com/robinhankin/weyl
